/* style.css */
QWebEngineView {
    border-radius: 12px;
    margin: 0px;
    padding: 0px;
 }
#configuracao_barra_lateral{
    background-color: white;
}
QMainWindow { /* Barra de ferramentas */
    background-color: #41166b;
}
QLineEdit { /* Barra de pesquisa */
    background-color: rgba(255, 255, 255, 150);
    padding: 4px;
    border: 2px black;
    border-radius: 12px;
}
QLineEdit:hover { /* Barra de pesquisa */
    background-color: rgba(255, 255, 255, 250);
}
QToolBar { /* Barra de ferramentas */
    background-color: #50237d;
    border: none;
    cursor: pointer;
}
QToolButton {
    background-color: #20124d;
    border: 2px solid black;
    padding: 4px 4px;
    border-radius: 12px;
    margin 2px;
    color: white;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}
QToolButton:hover {
    background-color:  #8e7cc3;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
QToolButton:pressed {
    background-color: #d9d2e9;
}
QTabWidget{
    background-color: #d9d2e9;
}
 /* Barra de guias*/
QTabBar{
    background-color:#50237d;
}
QTabBar::tab {
    background-color: #50237d;
    color: #fff;
    padding: 8px 20px; /* 1: baixo 2: lado esquerdo*/
    padding-left: 2px; /* cresce pro lado esquerdo */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-right:100px;
}
QTabBar::close-button {
    border: 1px solid;
    border-radius:3px;
}

QTabBar::close-button:hover{
    background-color: #Fbb;
}

QTabBar::tab:!selected:hover{
    background-color: #8e7cc3;
}

QTabBar::tab:selected{
    background-color: #41166b;
    border: 2px solid black;
    border-color: black black #41166b black;
}
QPushButton{
    background-color: #20124d;
    margin 2px;
    color: white;
}
QPushButton:hover {
    background-color:  #8e7cc3;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
QPushButton:pressed {
    background-color: #d9d2e9;
}