/* style.css */
QMainWindow {
    background-color: #41166b; /* Cor de fundo da barra de título */
}

QWebEngineView {
    border-radius: 12px;
    margin: 0px;
    padding: 0px;
}

#configuracao_barra_lateral {
    background-color: white;
}

QLineEdit { /* Barra de pesquisa */
    background-color: rgba(255, 255, 255, 150);
    padding: 4px;
    border: 2px solid black;
    border-radius: 12px;
}

QLineEdit:hover { /* Barra de pesquisa ao passar o mouse */
    background-color: rgba(255, 255, 255, 250);
}

QToolBar { /* Barra de ferramentas */
    background-color: #50237d;
    border: none;
}

QToolButton { /* Botões da barra de ferramentas */
    background-color: #20124d;
    border: 1px solid black;
    padding: 4px;
    border-radius: 12px;
    margin: 2px;
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

QToolButton:hover {
    background-color: #8e7cc3;
    border: 1px solid white;
    cursor: pointer;
}

QToolButton:pressed {
    background-color: #d9d2e9;
}

QTabWidget {
    background-color: #d9d2e9;
}

/* Barra de guias */
QTabBar {
    background-color: #50237d;
}

QTabBar::tab {
    background-color: #50237d;
    color: white;
    padding: 8px 20px; /* Ajuste do padding */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: background-color 0.3s ease;
}

QTabBar::close-button {
    border: 1px solid black;
    border-radius: 3px;
}

QTabBar::close-button:hover {
    background-color: #Fbb;
}

QTabBar::tab:!selected:hover {
    background-color: #8e7cc3;
}

QTabBar::tab:selected {
    background-color: #41166b;
    border: 2px solid black;
    border-bottom: none;
}

QPushButton {
    background-color: #20124d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    margin: 2px;
    transition: background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

QPushButton:hover {
    background-color: #8e7cc3;
    border: 2px solid white;
    cursor: pointer;
}

QPushButton:pressed {
    background-color: #d9d2e9;
}

QDockWidget {
    background-color: #c2c2c2;
    border: none;
}

QVBoxLayout {
    background-color: #ff0000;
}

/* Correções adicionais e melhorias estéticas */
QScrollArea {
    border: none;
    background-color: #f0f0f0;
}

QTextEdit {
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 6px;
}
